In [13]:
# Task 1
import pandas as pd
data = pd.read_csv('keywords.csv')
# Regions rules 
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

def region (row):
    """ In case city from dict in 'keyword' function returns region, otherwise 'undefined' """
    for x, y in geo_data.items():
        for i in range(len(y)):
            if y[i] in row['keyword']: return x
    return 'undefined'

data['region']=data.apply(region, axis=1)

data[data.region=='Центр'].head(10)

                                       keyword   shows region
127                               авито москва  979292  Центр
849                            авито ярославль  209581  Центр
1259                                    москва  153050  Центр
1396                           гисметео москва  140279  Центр
1482                          госуслуги москва  133061  Центр
1579                                авито тула  126168  Центр
1682                             погода москва  151701  Центр
2806                  циан недвижимость москва   78729  Центр
3786                              метро москва   68024  Центр
4888  перекресток акции москва каталог сегодня   48619  Центр

In [17]:
# Task 2
import pandas as pd
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

def m_rating (row):
    """ function returns rating according to classification """
    if row['rating']==5 or row['rating']==4.5: return('высокий рейтинг')
    elif row['rating']>2: return('средний рейтинг')
    else: return('низкий рейтинг')
    return('нет рейтинга')

ratings['class']=ratings.apply(m_rating, axis=1)
ratings.head(10)

    userId  movieId  rating  timestamp            class
21       2       17     5.0  835355681  высокий рейтинг
22       2       39     5.0  835355604  высокий рейтинг
29       2      150     5.0  835355395  высокий рейтинг
37       2      222     5.0  835355840  высокий рейтинг
44       2      265     5.0  835355697  высокий рейтинг
45       2      266     5.0  835355586  высокий рейтинг
83       2      551     5.0  835355767  высокий рейтинг
85       2      585     5.0  835355817  высокий рейтинг
89       2      589     5.0  835355697  высокий рейтинг
90       2      590     5.0  835355395  высокий рейтинг

In [39]:
# Task 3
import pandas as pd
import datetime
import numpy as np

ratings = pd.read_csv('ml-latest-small/ratings.csv')
# making a list with cinema fans
ratings_filtered = ratings.groupby('userId').count().reset_index()
ratings_filtered=ratings_filtered[ratings_filtered['movieId'] > 100]
fans_list=ratings_filtered['userId'].tolist()

# Lifetime of cinema fans
lifetime_list=[]
for i in fans_list:
    max_=pd.datetime.fromtimestamp(ratings[ratings.userId==i]['timestamp'].max()) #Max timestamp for user converted
    min_=pd.datetime.fromtimestamp(ratings[ratings.userId==i]['timestamp'].min()) #Min timestamp for user converted
    delta=max_-min_
    lifetime_list.append(delta.days)
# Average value of lifetime
np.mean(lifetime_list)

463.5232558139535

In [52]:
#Task 4
import pandas as pd
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
joined = ratings.merge(movies, on='movieId', how='left')
years=[i for i in range(1950,2011,1)]


def production_year(row):
    for i in years:
        if str(i) in row['title']: return i
    return 1900

joined['year']=joined.apply(production_year, axis=1)

joined.groupby('year').mean().sort_values('rating', ascending=False).head(10).rating

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
1974    3.978704
1962    3.952446
1950    3.915254
1977    3.905786
1964    3.841492
Name: rating, dtype: float64